{% extends '::base.html.twig' %}

{% block body %}
 <div class="content-grid">
    {% for article in articleList %}
        <div class="content-grid-info">
            {% if article.image %}
            <img src="{{ asset(article.image.url) }}" alt="{{ article.image.alt }}"/>
            {% endif %}
            <div class="post-info">
                <h4><a href="{{ path('m2_i_blog_detail_article', {'idArticle': article.id}) }}">{{ article.title }}</a>
                    {{ article.createDate | date("d/m/Y") }} / 27 Comments</h4>
                <p>{{ article.description }}</p>
                <a href="{{ path('m2_i_blog_detail_article', {'idArticle': article.id}) }}"><span></span>READ MORE</a>
                {% if is_granted('ROLE_AUTHOR') %}
                <a href="{{ path('m2_i_blog_edit_article', {'idArticle': article.id}) }}"><span></span>EDIT</a>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('m2_i_blog_delete_article', {'idArticle': article.id}) }}"><span></span>DELETE</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
 </div>
{% endblock %}
